@forward 'icomoon';

@use '../node_modules/spectre.css/src/spectre-icons';
@import '../node_modules/spectre.css/src/spectre';

html.dark-theme {
    // Core colors
    $primary-color: #5755d9;
    $primary-color-dark: darken($primary-color, 3%);
    $primary-color-light: lighten($primary-color, 3%);
    $secondary-color: lighten($primary-color, 25%);
    $secondary-color-dark: darken($secondary-color, 3%);
    $secondary-color-light: lighten($secondary-color, 3%);

    // Gray colors
    $dark-color: #3e3f40;
    $light-color: #e9ecee;
    // $gray-color: lighten($dark-color, 35%);
    $gray-color: darken($light-color, 55%);
    $gray-color-dark: lighten($gray-color, 30%);
    $gray-color-light: darken($gray-color, 20%);

    $border-color: lighten($dark-color, 30%);
    $border-color-dark: darken($border-color, 10%);
    $border-color-light: lighten($border-color, 8%);
    $bg-color-dark: darken($light-color, 85%);
    $bg-color-light: darken($light-color, 85%);
    $bg-color: lighten($bg-color-light, 3%);

    // Control colors
    $success-color: #32b643;
    $warning-color: #ffb700;
    $error-color: #b0480c;

    // Other colors
    $code-color: #d73e48;
    $highlight-color: #443e2e;
    $body-bg: $bg-color-light;
    $body-font-color: darken($light-color, 10%);
    $link-color: $primary-color;
    $link-color-dark: darken($link-color, 10%);
    $link-color-light: lighten($link-color, 10%);

    @import '../node_modules/spectre.css/src/spectre';
}
